<div *ngIf="isAdmin == true">
  <a href="/home">Home</a>
  <a href="/users">List of users</a>
  <a href="/feedback">List of feedback</a>
  <a href="/drugs">List of drugs</a>
  <a href="/add-drug">Add drugs</a>
  <a href="/apointments">Appointments</a>
  <a href="/add-appointment">Add Appointments</a>
  <a (click)="logout()" href="#">Logout</a>
</div>

<div *ngIf="isDoctor == true">
  <a href="/home">Home</a>
  <a href="/drugs">List of drugs</a>
  <a href="/add-drug">Add drugs</a>
  <a href="/visits">List of visits</a>
  <a (click)="logout()" href="#">Logout</a>
</div>

<div *ngIf="isLogedIn == false">
  <a href="/home">Home</a>
  <a href="/login">Login</a>
  <a href="/registration">Register</a>
</div>

<div *ngIf="isPatient == true">
  <a href="/home">Home</a>
  <a href="/apointments">Appointments</a>
  <a href="/add-feedback">Add feedback</a>
  <a (click)="logout()" href="#">Logout</a>
</div>



<router-outlet></router-outlet>